---
layout: "base.liquid"
permalink: "/contributions/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"

pagination:
  data: contributions
  size: 500
  resolve: values
---

<section id="contributions" class="page">
  <h2>Contributions - Page {{ pagination.pageNumber | plus: 1 }}</h2>

  <p>
    This report includes data sources which can be queried automatically.
    Of course there are many contributions which can't be tracked automatically,
    so they have been omitted here. Most data sources are related to Mozilla.
    Most notably this doesn't include eMails, chat messages, ad-hoc meetings
    or working documents that never got posted on Discourse. There are also some
    comments on confidential bugs, such as budget requests and Reps applications,
    which will not show up here.
  </p>

  <div class="pagination">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">< Previous Page</a>
    {% endif %}

    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Next Page ></a>
    {% endif %}
  </div>

  <table class="contributions">
    <thead>
      <th>Date</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      {% for contribution in pagination.items %}
        <tr>
          <td>{{ contribution.createdAt | date: "%Y-%m-%d" }}</td>
          <td>
            {% if contribution.link == "" %}
              {{ contribution.type }}
            {% else %}
              <a href="{{ contribution.link }}">{{ contribution.type }}</a>
            {% endif %}
          </td>
          <td>{{ contribution.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">< Previous Page</a>
    {% endif %}

    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Next Page ></a>
    {% endif %}
  </div>
</section>
