---
layout: "base.liquid"
permalink: "/opensource/"
---

<section id="opensource" class="page">
  <h3 class="tagline">
    Contributing to different Open Source projects, most noteably Mozilla
  </h3>

  <table class="contributions">
    <thead>
      <th>Date</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      {% for contribution in contributions limit: 5 %}
        <tr>
          <td>{{ contribution.createdAt | date: "%Y-%m-%d" }}</td>
          <td>
            {% if contribution.link == "" %}
              {{ contribution.type }}
            {% else %}
              <a href="{{ contribution.link }}">{{ contribution.type }}</a>
            {% endif %}
          </td>
          <td>{{ contribution.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/contributions">See all contributions</a>

  <h3>Why Mozilla?</h3>
  <p>
    I&apos;ve always been interested in the Open Web since I started creating my
    first websites. Mozilla’s mission is ​to &quot;ensure the Internet is a global
    public resource, open and accessible to all&quot;. This resonates with me very
    well because a lot of my knowledge comes from research on the internet.
  </p>
  <p>
    I started to use Firefox around version 1 and never have switched since then.
    In the beginning I was using the release channel. After my math teacher in
    high school introduced us to Mozilla and what he is working on for Firefox
    (he wrote the initial code for Session Restore) I was hooked and started to
    use the nightly build and report bugs. Soon after that I wrote my first patch
    to improve the sorting the bookmarks backup menu. Since then I have written
    patches, started to bring Swiss Mozillians together, went as far as Germany
    and Austria to help build the German speaking community and
    I was also involved in the Mozilla Reps (Representative) program.
  </p>
  <p>
    These days I am not as active as I was before, though I still try to
    contribute where I can. These days that is mostly by using and testing
    Firefox as well as advocating for an open internet.
  </p>

  <h3>Profiles</h3>
  <ul>
    <li>
      Bugzilla:&nbsp;
      <a href="https://bugzilla.mozilla.org/user_profile?login=me@michaelkohler.info">bugzilla.mozilla.org</a>
    </li>
    <li>
      Mozilla Reps:&nbsp;
      <a href="https://community.mozilla.org/people/mkohler/">community.mozilla.org</a>
    </li>
    <li>
      People Directory:&nbsp;
      <a href="https://people.mozilla.org/p/mkohler">people.mozilla.org</a>
    </li>
  </ul>

  <section class="areas">
    <div class="area">
      <h4>Firefox</h4>
      <p>2008 - now</p>
      <img src="/images/me_firefox.avif" alt="Michael hugging the fox" />
      <ul>
        <li>
          Using Firefox Nightly on a daily basis to test new features and look out
          for regressions
        </li>
        <li>
          Filed more than
          <a href="https://bugzilla.mozilla.org/user_profile?login=me@michaelkohler.info">130 bugs</a>
        </li>
        <li>
          Submitted more than
          <a href="https://bugzilla.mozilla.org/user_profile?login=me@michaelkohler.info">250 patches</a>
          for several different Firefox components
        </li>
      </ul>
    </div>

    <div class="area">
      <h4>Common Voice</h4>
      <p>2018 - 2024</p>
      <img src="/images/me.avif" alt="Michael listening at a conference" />
      <ul>
        <li>
          Worked on different tooling for the
          <a href="https://commonvoice.mozilla.org">Common Voice</a>
          project mostly around
          sentence collections
        </li>
        <li>
          Improved and maintained the
          <a href="https://commonvoice.mozilla.org/sentence-collector/#/">Common Voice Sentence Collector</a> before
          it got integrated into the platform.
        </li>
        <li>
          Maintainer of the
          <a href="https://github.com/common-voice/cv-sentence-extractor">Common Voice Sentence Extractor</a>
        </li>
        <li>
          Answered questions about Common Voice in the forums
        </li>
      </ul>
    </div>

    <div class="area">
      <h4>Community Building</h4>
      <p>2010 - 2024</p>
      <img src="/images/me_community_building.avif" alt="Michael in front of the Brandenburger Tor with a group of Mozillians" />
      <ul>
        <li>
          Started with another Mozillian in Switzerland to build the
          <a href="https://mozilla.ch">mozilla.ch</a>
          community
        </li>
        <li>
          Organized (almost) monthly
          <a href="http://www.meetup.com/Mozilla-Meetup-Switzerland/">meetups in Zurich</a>
        </li>
        <li>
          Lead
          <a href="http://github.com/mozillach/participation/">Participation</a>
          in Switzerland
        </li>
        <li>
          In 2013, 2014 and 2015 I helped develop the German-speaking community
          (Germany, Austria, Switzerland)
        </li>
        <li>
          I&apos;ve spoken about Mozilla at several conferences
        </li>
        <li>
          Organized Firefox hackathons around Switzerland to share my knowledge
        </li>
        <li>
          Hosted bi-weekly Meetups in Berlin from April 2018 to early 2020, and
          organizing other events
        </li>
      </ul>
    </div>

    <div class="area">
      <h4>Mozilla Reps</h4>
      <p>2012 - 2023</p>
      <img src="/images/reps_group.avif" alt="Michael and the rest of the Reps Council and Peers in Berlin in April 2016" />
      <ul>
        <li>
          Started as
          <a href="https://wiki.mozilla.org/Reps">Mozilla Rep</a>
          in 2012 and was a member of the program until its sunset in 2023
        </li>
        <li>
          Officially represented Mozilla in Switzerland and supporting
          Community Development
        </li>
        <li>
          Reps Mentor from 2014 onwards to coach other Mozilla Reps
        </li>
        <li>
          I was voted to be a
          <a href="https://wiki.mozilla.org/ReMo/Council">Reps Council</a>
          member from
          May 2015 to November 2017 to bring the Reps program to the
          next phase and take care of operational
          and strategic responsibilities of the Reps program
        </li>
        <li>
          From December 2017 in the leadership body (Module Peers)
          of the Reps Program
        </li>
        <li>
          Organized Mozilla's virtual presence at FOSDEM 2022, hosting a developer room with talks.
        </li>
      </ul>
    </div>
  </section>
</section>
