---
layout: "base.liquid"
permalink: "/talks/"
---

<section id="talks">
  <h3 class="quote">
    I give talks about all Mozilla-related topics. You can find the slides and recordings here.
  </h3>

  <ul class="talks-list">
    {% for talk in talks %}
    <li>
      <img src="{{ talk.image}}" alt="" loading="lazy" />
      <div class="content">
        <div class="tags">
          {% for tag in talk.tags %}
            <span class="{{ tag | slug }}">{{tag}}</span>
          {% endfor %}
        </div>
        <a href="{{ talk.url }}" target="_blank">{{ talk.title }}</a>
        <p class="small">{{ talk.date | date: "%Y-%m-%d" }}</p>
        <p>{{ talk.description }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
